.info p {
  margin-top: 2px;
  margin-bottom: 0;
  margin-left: 10px;
}

.info ul {
  list-style-type: none;
  list-style-position: inside;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  width: auto;
  margin: auto;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 555px;
  margin: 8px;
  box-sizing: content-box;
  padding: 10px;
}
