.search-box{
    width: 80%;
    height: 50px;
    border: 1px solid #ccc;
    padding: 5px 30px 5px 20px;
    background-position: 5px center;
    background-repeat: no-repeat;
    display: block;
    margin-left: auto;
    margin-right: auto;

}